[Unit]
Description=pnp4nagios NPCD daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/npcd.pid
ExecStart=/usr/local/pnp4nagios/bin/npcd -d -f /usr/local/pnp4nagios/etc/npcd.cfg
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
